html,body
    overflow: hidden
#GameBoard
    height: calc(100vh - 4px)
    width: 100vw
    background-color: black
    border-top: 2px solid white
    border-bottom: 2px solid white
    #PlayerPaddle,#AIPaddle
        background-color: white
        position: absolute
    #Ball
        position: absolute
        background-color: white
        border-radius: 100%
    #gameOver
        position: absolute
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        h1
            color: white